<div class="">
    <h1><i class="fa fa-reddit"></i> reddit</h1>
</div>
 <h2><%= link_to @post.title, @post.url %></h2>

<div class="container">

  <h3>Comments</h3>

    <%= form_for @comment do |f| %>
      <div class="mdl-textfield mdl-js-textfield <%= 'is-invalid' if @comment.errors[:comment_text].any? %>">
        <%= f.text_area :comment_text, class: "mdl-textfield__input" %>
        <% if @comment.errors[:comment_text].any? %>
          <span class="mdl-textfield__error">* <%= @comment.errors[:comment_text].join(", ") %> </span>
        <% end %>

        <%= f.label :comment_text, class: "mdl-textfield__label" %>
      </div>

      <div>
        <%= f.submit class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
      </div>
    <% end %>
    <ul>
      <% @post.comments.order("id desc").each do |comment| %>
        <li><%= comment.comment_text %> - <%= distance_of_time_in_words comment.created_at, Time.now %> ago</li>
      <% end %>
   </ul>

  </div>
